body {
    display:flex;
    justify-content:center;
    align-items:center; 
    height:100vh;
h1{
    font-size:13em;
    font-family:Montserrat;
    background-color:skyblue;
}

h1{
    font-size:16em;

    font-family:Montserrat;
}

.letter{
    transition:color 1000ms;
}